/* General layout and styling */
.booking-slot-list {
  margin: 0 auto;
  padding: 3rem 6rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.booking-slot-header {
  text-align: start;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #495e57;
  font-family: "Playfair Display", serif;
}

/* Weekday section styling */
.weekly-slots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 20px;
}

.day-slot {
  background-color: #f7f9fb;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.day-slot h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
}

/* Styling for the time slot section inside each day */
.time-slots {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.booking-slot {
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.available {
  background-color: #d4edda;
  color: #155724;
}

.booked {
  background-color: #f8d7da;
  color: #721c24;
  text-decoration: line-through;
}

.booking-slot:hover {
  transform: scale(1.05);
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .weekly-slots {
    grid-template-columns: 1fr;
  }
}
